:root {
    --main-color: #E4FFEE;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --secondary-color: #84BDD9;
    --tertiary-color: #407B98;
    --secondary-bg-color: #257293;
    --accent-color: #2D8B9D;
    --button-color: #1C82AD;
    --light-accent: #E8F9FD;
}

* {
    font-family: 'Jacques Francois', serif;
    padding: 10;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow-x: hidden;
}

/* Importação das novas fontes */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jacques+Francois&display=swap');

/* Cabeçalho e banner */
#header {
    display: flex;
    min-height: 70vh;
    width: 100%;
    background-image: url("/img/capa_principal1.png");
    background-size: cover;
    background-position: center;
    height: 0px;
    flex-direction: column;
    position: relative;
}

#header__banner {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    justify-content: end;
    margin-right: 70px;
}

.header__logo{
    margin-left: 60px;
    height: 300px;
    margin-top: -20px;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--tertiary-color);
}

.header__info{
    display: flex;
    margin-top: -140px;
    margin-left: 10px;
    width: 100%;  
}

.header_img{
    margin-top: 150px;
    max-height: 50%;
    margin-left: 100px;
}

#header__texto {
    display: flex;
    
}

.header__texto__principal {
    margin-left: 15px;
    margin-top: -50px;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    margin-left: -10px;
    margin-bottom: 5px;
    color: var(--secondary-bg-color);
    font-family: "Merriweather", serif;
}

.header__sub_title {
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-text-color);
    margin-left: -30px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header__subsub_title {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-bottom: 5px;
    margin-left: -20px;
    font-family: 'Montserrat';
}
.header__sub_ti {
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-text-color);
    margin-left: -103px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn_faleConosco, .btn__faleConosco {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_faleConosco:hover, .btn__faleConosco:hover {
    background-color: var(--tertiary-color);
}
.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}



/* Rodapé */
#contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 100px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    margin-top: 200px;
    
}

.contact__logo img, .logo__rodape img {
    max-width: 150px;
    margin-left: 50px;
}

.atendimento, .funcionamento {
    line-height: 1.8;
}

.atendimento p, .funcionamento p {
    margin-bottom: 15px;
}

.atendimento strong, .funcionamento strong {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.rodape__img__container {
    position: relative;
    width: 100%;
    height: 150px; /* Ajuste conforme a altura da imagem */
    margin-top: -75px; /* Metade da altura para sobrepor ao section anterior */
    margin-bottom: -75px; /* Metade da altura para sobrepor ao section posterior */
    z-index: 100; /* Para garantir que a imagem fique sobre os outros elementos */
    padding-right: 10px; /* Ajuste conforme necessário */
    margin-left: 1090px;
    
}

.rodape__img {
    max-height: 306%;
    width: auto;
    margin-top: 200px;
}

.rodape__final {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 15px 0;
}

.rodape__final__text {
    font-family: 'Jacques Francois', serif; /* Aplicando fonte Jacques Francois */
}

/* Estilo para botão Fale Conosco com ícone WhatsApp */
.btn_faleConosco::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
}



