:root {
    --main-color:#E4FFEE;
    --primary-text-color:#000000;
    --secondary-text-color:#FFFFFF;
    --secondary-color:#84BDD9;
    --tertiary-color:#407B98;
    --secondary-bg-color:#257293;
}

* {
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);

}


/*****************Cabeçalho e banner**********/
#header{
    display: flex;
    min-height: 70vh;
    width: 100%;
    background-image: url("/VGAvistos/img/capa_principal.png");
    background-size: cover;
    background-position: center;
    height: 550.81px;
    flex-direction: column;
}

#header__banner{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin: 50px 50px 50px 150px;
}

#header #header__banner .header__logo{
    display: flex;

}

#header #header__banner .navebar{
    display: flex;
    margin: 0px 0px auto auto;
    gap: 2rem;
    text-transform: uppercase;
    margin-right: 2rem;
    color: var(--primary-text-color);
    padding: 1rem;

}

#header__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 80px 80px 80px 80px;
}

#header #header__texto .header__texto__principal{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#header #header__texto .header__texto__principal .header__title{}

#header #header__texto .header__texto__principal .header__sub_title{}

#header #header__texto .btn{
    margin-top: 100px;
}


/**************Quem somos************/
#information{}


/*Div1*/
#information .information__text1 .information__titulo1{}

#information .information__text1 .information__descricao1{}


/*Div2*/
#information .information__text2 .information__titulo2{}

#information .information__text2 .information__descricao2{}


/*Div3*/
#information .information__text3 .information__titulo3{}

#information .information__text3 .information__descricao3{}


/*************Leberdade para viajar*********/
#message{}

#message .message__principal{}

#message .message__principal .message__title{}

#message .message__principal .message__subTitle{}

#message .btn__faleConosco{}


/*************Planos*************/
#plans__div {}
#plans__div #plans{}

/*Div1*/
#plans__div #plans .plans__principal{}

#plans__div #plans .plans__principal .plans__title1{}

#plans__div #plans .plans__principal .plans__text1{}


/*Div2*/
#plans__div #plans .plans__primeiroPasso{}

#plans__div #plans .plans__primeiroPasso .plans__title2{}

#plans__div #plans .plans__primeiroPasso .plans__text2{}

#plans__div #plans .plans__primeiroPasso .plans__text2_1{}

#plans__div #plans .plans__primeiroPasso .plans__text2_2{}


/*Div3*/
#plans__div #plans .plans__segundoPasso{}

#plans__div  #plans .plans__segundoPasso .plans__title3{}

#plans__div  #plans .plans__segundoPasso .plans__text3{}

#plans__div  #plans .plans__segundoPasso .plans__text3_1{}

#plans__div  #plans .plans__segundoPasso .plans__text3_2{}


/************Carrossel de Planos***********/

#plans__div #plans__carrossel{}

#plans__div #plans__carrossel .btn__carrossel{}

/*Div1*/
#plans__div #plans__carrossel .carrossel__1{}

#plans__div #plans__carrossel .carrossel__1 .carrossel__title1{}

#plans__div #plans__carrossel .carrossel__1 .carrossel__subTitle1{}

#plans__div #plans__carrossel .carrossel__1 .carrossel__title1_1{}

#plans__div #plans__carrossel .carrossel__1 .saibaMais{}

/*Div2*/
#plans__div #plans__carrossel .carrossel__2{}

#plans__div #plans__carrossel .carrossel__2 .carrossel__title2{}

#plans__div #plans__carrossel .carrossel__2 .carrossel__subTitle2{}

#plans__div #plans__carrossel .carrossel__2 .carrossel__title2_1{}

#plans__div #plans__carrossel .carrossel__2 .saibaMais{}

/*Div3*/
#plans__div #plans__carrossel .carrossel__3{}

#plans__div #plans__carrossel .carrossel__3 .carrossel__title3{}

#plans__div #plans__carrossel .carrossel__3 .carrossel__subTitle3{}

#plans__div #plans__carrossel .carrossel__3 .carrossel__title3_1{}

#plans__div #plans__carrossel .carrossel__3 .saibaMais{}

/*Div4*/
#plans__div #plans__carrossel .carrossel__4{}

#plans__div #plans__carrossel .carrossel__4 .carrossel__title4{}

#plans__div #plans__carrossel .carrossel__4 .carrossel__subTitle4{}

#plans__div #plans__carrossel .carrossel__4 .carrossel__title4_1{}

#plans__div #plans__carrossel .carrossel__4 .saibaMais{}

/*Div5*/
#plans__div #plans__carrossel .carrossel__5{}

#plans__div #plans__carrossel .carrossel__5 .carrossel__title5{}

#plans__div #plans__carrossel .carrossel__5 .carrossel__subTitle5{}

#plans__div #plans__carrossel .carrossel__5 .carrossel__title5_1{}

#plans__div #plans__carrossel .carrossel__5 .saibaMais{}

/*Div6*/
#plans__div #plans__carrossel .carrossel__6{}

#plans__div #plans__carrossel .carrossel__6 .carrossel__title6{}

#plans__div #plans__carrossel .carrossel__6 .carrossel__subTitle6{}

#plans__div #plans__carrossel .carrossel__6 .carrossel__title6_1{}

#plans__div #plans__carrossel .carrossel__6 .saibaMais{}

/*Div7*/
#plans__div #plans__carrossel .carrossel__7{}

#plans__div #plans__carrossel .carrossel__7 .carrossel__title7{}

#plans__div #plans__carrossel .carrossel__7 .carrossel__subTitle7{}

#plans__div #plans__carrossel .carrossel__7 .carrossel__title7_1{}

#plans__div #plans__carrossel .carrossel__7 .saibaMais{}

/*Div8*/
#plans__div #plans__carrossel .carrossel__8{}

#plans__div #plans__carrossel .carrossel__8 .carrossel__title8{}

#plans__div #plans__carrossel .carrossel__8 .carrossel__subTitle8{}

#plans__div #plans__carrossel .carrossel__8 .carrossel__title8_1{}

#plans__div #plans__carrossel .carrossel__8 .saibaMais{}


/*************Carrossel de Depoimentos***********/
#testimonials{}

/*Div1*/
#testimonials .testimonials__img1{}

/*Div2*/
#testimonials .testimonials__img2{}

/*Div3*/
#testimonials .testimonials__img3{}

/*Div4*/
#testimonials .testimonials__img4{}

/*Div5*/
#testimonials .testimonials__img5{}

/*Div6*/
#testimonials .testimonials__img6{}

/*Div7*/
#testimonials .testimonials__img7{}

/*Div8*/
#testimonials .testimonials__img8{}


/**************Carrossel de Serviços*************/
#services{}

/*Dev1*/
#services .services__1{}

/*Dev2*/
#services .services__2{}

/*Dev3*/
#services .services__3{}

/*Dev4*/
#services .services__4{}

/*Dev5*/
#services .services__5{}

/*Dev6*/
#services .services__6{}

/*Dev7*/
#services .services__7{}

/*Dev8*/
#services .services__8{}

/*BTN - Fale conosco*/
#services .btn__faleConosco{}


/*****************Rodapé******************/
#contact{}

/*Div1*/
#contact .contact__logo{}

#contact .contact__logo .logo__rodape{}

/*Div2*/
#contact .atendimento{}

/*Div3*/
#contact .funcionamento{}

/*Div4*/
#contact .logo__rodape{}

#contact .logo__rodape .logo__rodape__img{}
