:root {
    --main-color: #E4FFEE;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --secondary-color: #84BDD9;
    --tertiary-color: #407B98;
    --secondary-bg-color: #257293;
    --accent-color: #2D8B9D;
    --button-color: #1C82AD;
    --light-accent: #E8F9FD;
}

* {
    font-family: 'Jacques Francois', serif;
    padding: 10;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow-x: hidden;
}

/* Importação das novas fontes */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Jacques+Francois&display=swap');

/* Cabeçalho e banner */
#header {
    display: flex;
    min-height: 70vh;
    width: 100%;
    background-image: url("img/capa_principal.png");
    background-size: cover;
    background-position: center;
    height: 550px;
    flex-direction: column;
    position: relative;
}

#header__banner {
    display: flex;
    align-items: center;
    padding: 30px 100px;
    justify-content: space-between;
}

.header__logo img {
    height: 80px;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--tertiary-color);
}

#header__texto {
    display: flex;
    flex-direction: column;
    margin: 80px 150px;
}

.header__texto__principal {
    margin-bottom: 30px;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-family: 'Inknut Antiqua', serif; 
}

.header__sub_title {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-text-color);
}


.btn_faleConosco, .btn__faleConosco {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_faleConosco:hover, .btn__faleConosco:hover {
    background-color: var(--tertiary-color);
}
.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

/* Quem somos */
#information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 100px;
    background-color: var(--light-accent);
}

.information__text1, .information__text2, .information__text3 {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.information__titulo1, .information__titulo2, .information__titulo3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--tertiary-color);
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua nos títulos das seções */
}

.information__descricao1, .information__descricao2 {
    line-height: 1.6;
    color: var(--primary-text-color);
}

.information__descricao3 {
    list-style-position: inside;
    line-height: 1.8;
    padding-left: 10px;
}

.information__descricao3 li {
    margin-bottom: 8px;
}

/* Liberdade para viajar */
#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background-image: url("img/map.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#message::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

.message__principal {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.message__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.message__subTitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-text-color);
}

/* Planos */
#plans {
    padding: 50px 100px;
}

.plans__principal {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.plans__title1 {
    font-size: 36px;
    font-weight: 700;
    color: var(--tertiary-color);
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
    margin-bottom: 20px;
}

.plans__text1 {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.plans__divs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.plans__primeiroPasso__2, .plans__segundoPasso {

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.plans__title2, .plans__title3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--tertiary-color);
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.plans__text2, .plans__text3 {
    margin-bottom: 20px;
    line-height: 1.6;
}

.plans__text2_1, .plans__text3_1 {
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Jacques Francois', serif; /* Aplicando fonte Jacques Francois */
}

.plans__text2_2, .plans__text3_2 {
    font-size: 14px;
    color: #666;
}

/* Carrossel de Planos */
.carrossel__wrapper {
    padding: 0 0px; /* Ou o mesmo padding lateral usado em outras seções */
    position: relative;
}
#plans__carrossel__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 60px;
}

#plans__carrossel__wrapper .btn__carrossel {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#plans__carrossel__wrapper .btn__carrossel[aria-label="Anterior"] {
    left: -20px; /* fora da div */
}

#plans__carrossel__wrapper .btn__carrossel[aria-label="Próximo"] {
    right: -20px; /* fora da div */
}


#plans__carrossel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    gap: 20px;
    /* padding: 20px 0; */
}

#plans__carrossel::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

.btn__carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrossel__1, .carrossel__2, .carrossel__3, .carrossel__4,
.carrossel__5, .carrossel__6, .carrossel__7, .carrossel__8 {
    flex: 0 0 300px;
    min-width: 300px;
    background-color: var(--secondary-text-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-between;
}

.carrossel__1:hover, .carrossel__2:hover, .carrossel__3:hover, .carrossel__4:hover,
.carrossel__5:hover, .carrossel__6:hover, .carrossel__7:hover, .carrossel__8:hover {
    transform: translateY(-5px);
}

.carrossel__title1, .carrossel__title2, .carrossel__title3, .carrossel__title4,
.carrossel__title5, .carrossel__title6, .carrossel__title7, .carrossel__title8 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.carrossel__subTitle1, .carrossel__subTitle2, .carrossel__subTitle3, .carrossel__subTitle4,
.carrossel__subTitle5, .carrossel__subTitle6, .carrossel__subTitle7, .carrossel__subTitle8,
.carrossel__subTitle8__ingles {
    margin-bottom: 20px;
    font-size: 14px;
}

.carrossel__subTitle1_1, .carrossel__subTitle2_1, .carrossel__subTitle3_1, .carrossel__subTitle4_1,
.carrossel__subTitle5_1, .carrossel__subTitle6_1, .carrossel__subTitle7_1, .carrossel__subTitle8_1 {
    margin-bottom: 20px;
    list-style-type: none;
}

.carrossel__subTitle1_1 p, .carrossel__subTitle2_1 p, .carrossel__subTitle3_1 p, .carrossel__subTitle4_1 p,
.carrossel__subTitle5_1 p, .carrossel__subTitle6_1 p, .carrossel__subTitle7_1 p, .carrossel__subTitle8_1 p {
    font-weight: 700;
    margin-bottom: 10px;
}

.carrossel__subTitle1_1 li, .carrossel__subTitle2_1 li, .carrossel__subTitle3_1 li, .carrossel__subTitle4_1 li,
.carrossel__subTitle5_1 li, .carrossel__subTitle6_1 li, .carrossel__subTitle7_1 li, .carrossel__subTitle8_1 li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.carrossel__subTitle1_1 li::before, .carrossel__subTitle2_1 li::before, .carrossel__subTitle3_1 li::before, .carrossel__subTitle4_1 li::before,
.carrossel__subTitle5_1 li::before, .carrossel__subTitle6_1 li::before, .carrossel__subTitle7_1 li::before, .carrossel__subTitle8_1 li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--tertiary-color);
}

.saibaMais {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
}

.saibaMais:hover {
    background-color: var(--tertiary-color);
}

/* Carrossel de Depoimentos */
#testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 20px;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
}

#testimonials::-webkit-scrollbar {
    display: none;
}

.testimonials__img1, .testimonials__img2, .testimonials__img3, .testimonials__img4,
.testimonials__img5, .testimonials__img6, .testimonials__img7, .testimonials__img8 {
    flex: 0 0 300px;
    min-width: 300px;
    transition: transform 0.3s;
}

.testimonials__img1 img, .testimonials__img2 img, .testimonials__img3 img, .testimonials__img4 img,
.testimonials__img5 img, .testimonials__img6 img, .testimonials__img7 img, .testimonials__img8 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Carrossel de Serviços */
#services {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 20px;
    padding: 90px 0;
    margin: 0 auto;
    max-width: 1200px;
}

#services::-webkit-scrollbar {
    display: none;
}

.services__1, .services__2, .services__3, .services__4,
.services__5, .services__6, .services__7, .services__8 {
    flex: 0 0 300px;
    min-width: 300px;
    background-color: var(--secondary-text-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 290px;
}

.services__1 ul, .services__2 ul, .services__3 ul, .services__4 ul,
.services__5 ul, .services__6 ul, .services__7 ul, .services__8 ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.services__1 ul p, .services__2 ul p, .services__3 ul p, .services__4 ul p,
.services__5 ul p, .services__6 ul p, .services__7 ul p, .services__8 ul p {
    font-size: 20px;
    font-weight: 700;
    color: var(--tertiary-color);
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.services__1 ul li, .services__2 ul li, .services__3 ul li, .services__4 ul li,
.services__5 ul li, .services__6 ul li, .services__7 ul li, .services__8 ul li {
    padding-left: 15px;
    position: relative;
    margin-top: 5px;
}

.services__1 ul li::before, .services__2 ul li::before, .services__3 ul li::before, .services__4 ul li::before,
.services__5 ul li::before, .services__6 ul li::before, .services__7 ul li::before, .services__8 ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--tertiary-color);
}

.services__1 .btn_faleConosco, .services__2 .btn_faleConosco, .services__3 .btn_faleConosco, 
.services__4 .btn_faleConosco, .services__5 .btn_faleConosco, .services__6 .btn_faleConosco, 
.services__7 .btn_faleConosco, .services__8 .btn_faleConosco {
    align-self: center;
    margin-top: auto;
}

/* Rodapé */
#contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px 100px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.contact__logo img, .logo__rodape img {
    max-width: 150px;
}

.atendimento, .funcionamento {
    line-height: 1.8;
}

.atendimento p, .funcionamento p {
    margin-bottom: 15px;
}

.atendimento strong, .funcionamento strong {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Inknut Antiqua', serif; /* Aplicando fonte Inknut Antiqua */
}

.rodape__img__container {
    position: relative;
    width: 100%;
    height: 150px; /* Ajuste conforme a altura da imagem */
    margin-top: -75px; /* Metade da altura para sobrepor ao section anterior */
    margin-bottom: -75px; /* Metade da altura para sobrepor ao section posterior */
    z-index: 100; /* Para garantir que a imagem fique sobre os outros elementos */
    text-align: right; /* Alinha a imagem à direita */
    padding-right: 10px; /* Ajuste conforme necessário */
}

.rodape__img {
    max-height: 306%;
    width: auto;
}

.rodape__final {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 15px 0;
}

.rodape__final__text {
    font-family: 'Jacques Francois', serif; /* Aplicando fonte Jacques Francois */
}

/* Responsividade */
@media (max-width: 1024px) {
    #header__banner {
        padding: 20px 50px;
    }
    
    #header__texto {
        margin: 60px 100px;
    }
    
    #information {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 50px;
    }
    
    #plans__div {
        padding: 40px 50px;
    }
    
    #contact {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 50px;
    }

    #testimonials, #services {
        max-width: 900px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    
    #header__texto {
        margin: 40px 50px;
    }
    
    .header__title {
        font-size: 36px;
    }
    
    .header__sub_title {
        font-size: 20px;
    }
    
    #information {
        grid-template-columns: 1fr;
    }
    
    .plans__divs {
        grid-template-columns: 1fr;
    }
    
    #contact {
        grid-template-columns: 1fr;
    }

    #testimonials, #services {
        max-width: 600px;
    }
}

/* Estilo para botão Fale Conosco com ícone WhatsApp */
.btn_faleConosco::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
}
